/* NEXA FONT - LIGHT & BOLD */

@font-face {
    font-family: 'Nexa_Free_Light';
    src: url('Nexa_Free_Light-webfont.woff2') format('woff2'), url('Nexa_Free_Light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'nexa_bold';
    src: url('nexa_bold-webfont.woff') format('woff'), url('nexa_bold-webfont.woff2') format('woff2');
}




/* BODY */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Nexa_Free_Light';
    font-size: 1em;
    background-color: #fff;
    width: 100%;
}

* {
    box-sizing: border-box;
}






/* HEADER & NAVIGATION */

header {
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    background-color: #ffffff;
    padding: 3em 3em 3em 2em;
}

nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    padding-left: 0.5em;
}

nav li {
    margin: 0 0.8em;
    display: flex;
    font-family: 'nexa_bold';
    color: #00D66C;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'nexa_bold';
    font-size: 1.25em;
    color: #00D66C;
}

header img {
    height: 3.5em;
}

.inloggen {
    border: none;
    border-radius: 0.8em;
    padding: 0.4em 0.5em;
    background-color: #ff3268;
    color: #ffffff;
    display: flex;
    box-shadow: 0em 0.2em #B3254A;
}







/* NIGHT STORIES TOGGLE MET JAVASCRIPT */
#myDIV {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#moon {
    padding: 1em;
    background-color: #dcdcdc;
    box-shadow: 0em 0.2em #c0c0c0;
    background-image: url(icons/moon.png);
}

#moon:active {
    background-color: #2800a0;

}







/* FEATURED TODAY */

h1 {
    font-family: 'nexa_bold';
    font-size: 1.9em;
    color: #2800a0;
    background-color: #F3E5D8;
    padding: 1em;
    margin: 0em;
}

h1 + img {
    width: 100%;
}

h1 + img + a {
    position: absolute;
    top: 4.5em;
    left: 0.7em;
    font-family: 'nexa_bold';
    color: #00D66C;
    text-decoration: none;
    font-size: 3em;
}

h1 + button:first-of-type {
    padding-bottom: 1em;
    background-image: url(icons/add.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

h1 + button:nth-of-type(2) {
    padding-bottom: 1em;
    background-image: url(icons/downloadwit.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div:nth-of-type(1) a {
    background-color: #ff3268;
    box-shadow: 0em 0.2em #B3254A;
    padding: 1em;
    width: 5em;
    font-family: 'nexa_bold';
    font-size: 1em;
    color: #fff;
    border-radius: 5em;
    border: none;
    text-decoration: none;
    margin-left: 0.35em;
}

h1 + button {
    margin: 0.35em;
    padding: 2.5em 0.5em 0.5em 0.5em;
    background-color: #00D66C;
    width: 3.5em;
    font-family: 'nexa_bold';
    font-size: 1em;
    color: #fff;
    border-radius: 5em;
    border: none;
    box-shadow: 0em 0.2em #01964C;
}

h1 + img + a + div {
    position: absolute;
    top: 22em;
    padding: 1em;
    display: flex;
    align-items: center;
}






/* SEARCH BAR */

h2 {
    font-family: 'nexa_bold';
    font-size: 1.8em;
    color: #2800a0;
    padding-top: 1em;
}

.balk {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cards {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}






/* VERHALEN OVERZICHT */

article {
    width: 180%;
    margin: 2em;
    padding: 1em;
    border: solid 0.2em;
    border-radius: 2em;
    border-color: #2800a0;
    background-color: #2800a0;
}

article > img {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

h3 > a {
    font-family: 'nexa_bold';
    font-size: 1.5em;
    color: #00D66C;
    text-decoration: none;
}

h3 {
    margin: 0;
}

article > a:nth-of-type(1) {
    color: #00D66C;
    font-family: 'nexa_bold';
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 0.5em;
}

main div > a {
    background-color: rgba(40, 0, 160, 0.5);
    width: auto;
    border-radius: 2em;
    text-decoration: none;
    font-family: 'nexa_bold';
    font-size: 1em;
    color: #ffffff;
    padding: 1em 2em;
    margin: 0.5em;
}



/* MINUTEN - 5/10/15 */

.leestijd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.minuten:hover {
    background-color: #2800a0;
    transition-duration: 0.6s;
}

input {
    background-color: #f7f7f7;
    background-size: 2em;
    font-family: 'nexa_bold';
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    border-style: none;
    cursor: text;
    font-size: 1.1em;
    display: flex;
}

main {
    margin-left: 3.125em;
    margin-right: 3.125em;
}


/* STORY BUTTONS : SAVE - DOWNLOAD - READ*/

button:first-of-type {
    padding-bottom: 1em;
    background-image: url(icons/add.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

button:first-of-type:focus {
    background-image: url(icons/checkmark-xxl.png);
    outline: none;
}

button:nth-of-type(2) {
    padding-bottom: 1em;
    background-image: url(icons/downloadwit.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

button:nth-of-type(2):focus {
    background-image: url(icons/download.gif);
    background-size: 3.5em;
    outline: none;
}

button:nth-of-type(3) {
    background-color: #ff3268;
    background-image: url(icons/read.png);
    padding-bottom: 1em;
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0em 0.2em #B3254A;
}

button {
    margin: 0.35em;
    padding: 2.5em 0.5em 0.5em 0.5em;
    background-color: #00D66C;
    width: 3.5em;
    font-family: 'nexa_bold';
    font-size: 1em;
    color: #fff;
    border-radius: 5em;
    border: none;
    box-shadow: 0em 0.2em #01964C;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #ff3268;
    box-shadow: 0em 0.2em #B3254A;
    transition-duration: 0.6s;
}

.title {
    display: none;
}







/* LINK HOVER EFFECT - Bron : http://ianlunn.github.io/Hover/ */
/* LINK HOVER - BUZZ */

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}





/* MEDIA QUERIES */
/* MEDIA QUERIES : TABLET - 700px */

@media(min-width:300px) {
nav ul li a {
    font-size: 1.5em;
}
article {
    width: 40%;
}
h1 {
    font-size: 2.5em;
}
h1 + img {
    height: 20em;
    object-fit: cover;
}
h1 + img + a + div {
    top: 28em;
    margin-left: 1.5em;
}
h1 + img + a {
    top: 4.5em;
    left: 0.7em;
    font-size: 3.5em;
}
div:nth-of-type(1) a {
    font-size: 1.2em;
}
h2 {
    font-size: 3em;
    color: #2800a0;
    padding-top: 0.5em;
}
.title {
    font-family: 'nexa_bold';
    color: #2800a0;
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    margin: 1em;
}




/* MEDIA QUERIES : DESKTOP - 1000px */

@media(min-width:1000px) {
nav ul li a {
    font-size: 1.5em;
}
article {
    width: 25%;
}
h1 {
    font-size: 2.5em;
}
h1 + img + a + div {
    top: 28em;
    margin-left: 1.5em;
}
h1 + img {
    height: 20em;
    object-fit: cover;
}
h1 + img + a {
    top: 4.5em;
    left: 0.7em;
    font-size: 3.5em;
}
div:nth-of-type(1) a {
    font-size: 1.2em;
}
h2 {
    font-size: 3em;
    color: #2800a0;
    padding-top: 0.5em;
}
input {
    background-color: #f7f7f7;
    background-size: 2em;
    font-family: 'nexa_bold';
    padding: 1em;
    border-radius: 1em;
    border-style: none;
    cursor: text;
    font-size: 1.1em;
    display: flex;
}
